# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
random_mutations*
gen_algorithm*
main_input*

# Data science
*.ipynb
*.csv
.ipynb_checkpoints/


.vscode/
redes/
main
commitmsg.txt